/* La partie CSS */

    * {
        box-sizing: border-box;
    }

    body {
        background: url(http://iwallpapers2.free.fr/images/Espace/Espace_etoiles_-_1920x1080.jpg) no-repeat center fixed;
        background-size: cover; /* version standardisée */
    }      
         
    h1 {
        color: white;
        text-align:center;
        font: italic small-caps bold 60px/2 cursive;
    }

    h2 {
        color: white;
        text-align:center;
        font: 2em Comic Sans MS, Comic Sans, cursive
    }
    
    ul {
        
        color: white;
        text-align:center;
        font: 2em Comic Sans MS, Comic Sans, cursive
    }
            
    .form {
        background-color:rgba(0,191,255,0.5); /* #00BFFF deepSkyBlue */
        line-height: 2;
        border-style: solid;
        border-radius:20px;
        box-shadow:0 4px 10px 4px black;
        opacity: 0.5;
        /* Texte */
        list-style:none;
        padding: 30px;
        opacity: 1;
    }

    #alignement {
        /* Pour centrer les objets et qu'ils s'adaptent à la fenêtre */
        float:left;
        text-align:center;
        width: 33%;
        padding: 3% 3%; /* Ecart aux 4 coins avec le reste */
        transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
        margin: 50vh auto; /* poussé de la moitié de hauteur de viewport
                                      et espacé régulièrement en largeur */ 
    }
    
    .styled {
        margin-right: 5px;
        margin-top: 20px;
        
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: rgba(0,191,255,1);
        background-image: linear-gradient(to top left,
                                          rgba(0, 0, 0, .2),
                                          rgba(0, 0, 0, .2) 30%,
                                          rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                    inset -2px -2px 3px rgba(0, 0, 0, .6);
    }

    .styled:hover {
        background-color: rgba(0,191,255,0.5);
    }

    .styled:active {
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                    inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
